@media screen and (min-width: 62rem){

    /* Layout */
    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;    }

    .l-dashboard{
        max-width: none;
        flex-direction: row;
        margin-block: auto;
        padding: 0
    }

    .l-dashboard__cards{
        display: grid;
        grid-template-columns: repeat(3, minmax(10.5rem, 1fr));
        gap: 1.35em;
    }

    /* Components */

    .c-profile{
        width: 32%;
        margin-inline-end: 1.5em;
        gap: 1em;
    }

    .c-profile__info, .c-profile__nav{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .c-profile__info{
        height: 68%;
        gap: 2.1em;
    }

    .c-profile__name{
        font-size: 2.2rem;
        line-height: 1.3
    }

    .c-profile__timeframe{
        width: 100%;
        font-size: 1rem;
        text-align: left;
        padding-inline-start: 1.5em;
        padding-block: 0.6em;
    }

    .c-card{
        margin-block-start: 0em;
    }

    .c-card__inner{
        margin-block-start: 2.8rem;
    }

    .c-card__header{
        gap: 4rem;
    }

    .c-card__title{
        font-size: 1rem;
    }

    .c-card__times{
        flex-direction: column;
        align-items: flex-start;
    }

    .c-card__time{
        font-size: 2.9rem;
    }

    /* Utilities */
    .u-text-secondary{
        font-size: 0.8rem;
    }
}


@media screen and (min-width: 110rem){
    html{
        font-size: 112.5%;
    }
}

