:root{

    /* Primary */
    --purple-600: hsl(246, 80%, 60%);
    --orange-300: hsl(15, 100%, 70%);
    --blue-300: hsl(195, 74%, 62%);
    --pink-400: hsl(348, 100%, 68%);
    --green-400: hsl(145, 58%, 55%);
    --purple-700: hsl(264, 64%, 52%);
    --yellow-300: hsl(43, 84%, 65%);

    /* Neutral */
    --navy-950:  hsl(226, 43%, 10%);
    --navy-900: hsl(235, 46%, 20%);
    --purple-500: hsl(235, 45%, 61%);
    --navy-200: hsl(236, 100%, 87%);

    /* Weights */
    --w-300: 300;
    --w-500: 500;
}

/* Base */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    font: normal 1rem/1.5 "Rubik", sans-serif;
    background-color:var(--navy-950);
    color: white;
}

/* Layout */

.l-dashboard{
    max-width: 35rem;
    display: flex;
    flex-flow: column nowrap;
    margin: 4em auto;
    padding-inline: 1.25rem;
}

.l-dashboard__cards{
    width: 100%;
}

/* Components */

.c-profile{
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
}

.c-profile__info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.875em;

    background-color:var(--purple-600);
    border-radius: 1rem;
}

.c-profile__picture{
    width: 4.5rem;
    border: solid white;
    border-radius: 50%;
}

.c-profile__text{
    display: flex;
    flex-flow: column nowrap;
}

.c-profile__name{
    font-size: 1.4rem;
    font-weight: var(--w-300);
}

.c-profile__nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.c-profile__timeframe{
    background: none;
    color: var(--purple-500);
    border: none;
    flex: 1;
    padding-block: 1.3em;
    font-size:1.125rem;
    font-family: inherit;
}

.c-profile__timeframe:hover{
    cursor: pointer;
    color: white;
}

.c-card{
    margin-block-start: 1.5rem;
    overflow:hidden;
    background-repeat: no-repeat;
    background-position: top -0.55rem right 1rem;
    border-radius: 1rem;
}

.c-card__inner{
    height: 100%;
    padding: 1.5em;
    margin-block-start: 2.5rem;
}

.c-card__header{
    display: flex;
    justify-content: space-between;
    gap: 5.5rem;
}

.c-card__title{
    font-size: 1.125rem;
    font-weight: var(--w-500)
}

.c-card__options{
    background-color: inherit;
    border: none;
}

.c-card__times{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1em 0.5em;
}

.c-card__time{
    font-size: 2rem;
    font-weight: var(--w-300);
}

.c-card__previous-time{
    font-weight: var(--w-300);
}

.c-card--work{
    background-image: url(..//images/icon-work.svg);
    background-color: var(--orange-300);
}

.c-card--play{
    background-image: url(..//images/icon-play.svg);
    background-color: var(--blue-300);
    background-position-y: -0.2rem;
}

.c-card--study{
    background-image: url(..//images/icon-study.svg);
    background-color: var(--pink-400);
}

.c-card--exercise{
    background-image: url(..//images/icon-exercise.svg);
    background-color: var(--green-400);
    background-position-y: 0;
}

.c-card--social{
    background-image: url(..//images/icon-social.svg);
    background-color: var(--purple-700);
}

.c-card--self-care{
    background-image: url(..//images/icon-self-care.svg);
    background-color: var(--yellow-300);
}


/* State */
.is-active{
    color: white;
}

/* Utilities */
.u-bg-surface{
    background-color:var(--navy-900);
    border-radius: 1rem;
}

.u-text-secondary{
    color: var(--navy-200);
    font-size: 0.9rem;
}